<card qa="unavailable">
  <card-header>
    <card-title>Invite Unavailable</card-title>
  </card-header>
  <card-body class="p-12 pb-16">
    <p>
      We're sorry, that invitation is no longer available.
      Please request a new invite from your team mates.
    </p>
  </card-body>
</card>
