@model ShareGamePage
@{
  var gameLabel = Format.Enum(Current.Game.Purpose);
  var GameLabel = gameLabel.Pascalize();
}
<fx-modal x-bind:show="deleteBranch" x-on:close="deleteBranch=false">
  <card>
    <card-header>
      <card-title>Delete Shared Build?</card-title>
    </card-header>
    <card-body>
      Are you sure you want to delete this shared build? This action cannot be undone.
    </card-body>
    <card-buttons>
      <button class="btn-danger"    x-on:click="$dispatch(`delete:branch:${deleteBranch.id}`)">Delete</button>
      <button class="btn-secondary" x-on:click="$dispatch('close')">Cancel</button>
    </card-buttons>
  </card>
</fx-modal>
