@{
  Layout = "Layout/Empty";
  Current.Page.Title = "Password Required";
}
@model ServeGame.PasswordPage

<div hx-target="this" class="h-full flex flex-col items-center justify-center">
  <card class="min-w-96" qa="game-password">
    <card-body>
      <form hx-post="@Model.SubmitUrl">
        <field>
          <label asp-for="Password">Game Password:</label>
          <field-input>
            <input asp-for="Password" type="password" placeholder="******" autoFocus></input>
          </field-input>
        </field>
        <form-buttons>
          <span if="Model.HasError" class="flex-1 text-danger">
            @Model.Error
          </span>
          <button type="submit" class="btn-primary">Play...</button>
        </form-buttons>
      </form>
    </card-body>
  </card>
</div>
