<!DOCTYPE html>
<html class="h-full">
<partial name="Layout/Shared/Head" />
<body class="h-full flex flex-col overflow-hidden bg-graphpaper">
  <partial name="Layout/Default/Header"/>
  <main class="h-full flex-1 overflow-auto bg-gray-50">
    <div class="px-4 py-8 max-w-5xl mx-auto">
      @RenderBody()
    </div>
  </main>
</body>
</html>
