@{
  IgnoreBody();
}
<!DOCTYPE html>
<html class="h-full">
<partial name="Layout/Shared/Head" />
<body class="h-full flex flex-col overflow-hidden bg-graphpaper">
  <card class="max-w-128 mt-32 mx-auto">
    <card-body>
      <h3 class="text-center">@Current.Page.Title</h3>
    </card-body>
  </card>
</body>
</html>
