<!DOCTYPE html>
<html class="h-full">
<partial name="Layout/Shared/Head" />
<body class="h-full flex flex-col overflow-hidden bg-graphpaper">
  <modal-outer-container>
  <modal-inner-container>
  <modal-card>
    @RenderBody()
  </modal-card>
  </modal-inner-container>
  </modal-outer-container>
</body>
</html>
