@model DownloadsPage.ReleaseLinks;
@{
  var repo = Model.Repo;
  var count = Model.Assets.Count;
}

@for (var n = 0 ; n < count ; n++)
{
  <span>
    @{
      var asset = Model.Assets[n];
    }
    <a
      class="link"
      asp-page="/Downloads"
      asp-route-repo="@repo"
      asp-route-assetId="@asset.Id"
      active-class=""
      boost="false">
      @Format.Label(asset.Platform)
    </a>
    <span class="link-separator" if="n < count - 1"></span>
  </span>
}
